@using BookWay.Models.Entity
@model List<UyeKayit>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <html>
    <head>
        <style>

            #personel {
                width: 100%;
                font: bold 1.25em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
                border: 20px solid #C1DAD7;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-align: left;
                padding: 6px 6px 6px 12px;
                background: #C1DAD7;
                border-collapse: collapse;
            }

                #personel th {
                    color: #54737A;
                    padding: 6px 6px 6px 12px;
                }

                #personel td {
                    padding: 6px 6px 6px 12px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                }

                #personel tr {
                    color: #6D929B;
                    background: #fff;
                }

                    #personel tr:hover {
                        background: #CAE8EA;
                        color: #fff;
                    }

            .btn2 {
                background-color: #4CAF50;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            /* When moving the mouse over the submit button, add a darker green color */
            btn2:hover {
                background-color: #45a049;
            }
             #yazi1{
                text-shadow:#999999 2px 2px 1px;
                color:#2c3e50; 

                font-family:Verdana, Arial, Helvetica, sans-serif; 
                font-size:18px; 

            }
            }
        </style>
    </head>

    <body bgcolor="#DBCDC0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">
        <div id="yazi1"> <h2>Üyeler</h2></div>
        <table border="1" id="personel">

            <tr>
                <th>Üye ID</th>
                <th>Üye Adı</th>
                <th>Üye Soyadı</th>
                <th>Üye Eposta</th>
                <th>Üye Kullanıcı Adı</th>
                <th>Üye Şifre</th>

            </tr>
            @foreach (var uye in Model)
            {
        <tr>
            <td>@uye.ID</td>
            <td>@uye.AD</td>
            <td>@uye.SOYAD</td>
            <td>@uye.EMAIL</td>
            <td>@uye.KULLANICIADI</td>
            <td>@uye.SIFRE</td>



            <td><a href="/Uye/UyeSil/@uye.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-danger">Güncelle</a></td>
        </tr>
            }

        </table>
        <br>
        <br>

        <a href="/Home/GirisYap/" class="btn2">Anasayfa</a>
        

    </body>
    </html>